{
  "window.commandCenter": true,
  "workbench.sideBar.location": "left",
  "cursor.composer.shouldChimeAfterChatFinishes": false,
  "git.autofetch": true,
  "terminal.integrated.profiles.osx": {
    "dotfiles-zsh": {
      "path": "/bin/zsh",
      "args": [
        "-l"
      ],
      "overrideName": true,
      "icon": "terminal"
    }
  },
  "terminal.integrated.defaultProfile.osx": "dotfiles-zsh",
  "terminal.integrated.automationProfile.osx": {
    "path": "/bin/zsh",
    "args": [
      "-l"
    ]
  },

  // Project Manager
  "application.shellEnvironmentResolutionTimeout": 30,
  "projectManager.any.maxDepthRecursion": 10,
  "projectManager.git.maxDepthRecursion": 10,
  "projectManager.git.baseFolders": [
    "~/dev"
  ],
  "makefile.configureOnOpen": false,
  "files.autoSave": "afterDelay",
  "cursor.composer.shouldAllowCustomModes": true,

  "go.alternateTools": {
    "go": "/opt/homebrew/bin/go"
  },
  "go.goroot": "/opt/homebrew/opt/go/libexec",
  "diffEditor.ignoreTrimWhitespace": false,
  "claudeCode.selectedModel": "opus"
}
