{
  "terminal.integrated.profiles.osx": {
    "dotfiles-zsh": {
      "path": "/bin/zsh",
      "args": [
        "-i"
      ],
      "overrideName": true,
      "icon": "terminal"
    }
  },
  "terminal.integrated.defaultProfile.osx": "dotfiles-zsh",
  "terminal.integrated.automationProfile.osx": {
    "path": "/bin/zsh",
    "args": [
      "-i"
    ]
  }
}
