[user]
    email = {{ .git_profiles.personal.email }}
    name = {{ .git_profiles.personal.name }}

[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig

[core]
    pager = delta
    editor = cursor --wait
    sshCommand = ssh -o IdentitiesOnly=yes -i {{ .git_profiles.personal.ssh_identity_file }}

[pager]
    diff = diffnav
    show = diffnav

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    navigate = true
    dark = true

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[init]
    defaultBranch = master

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = zdiff3
