# msmtp configuration managed by chezmoi.

defaults
auth on
tls on
tls_starttls on
logfile ~/.local/state/mail/log/msmtp.log

{{- if eq (len .mail.accounts) 0 }}
# Configure one or more enabled Gmail accounts in .chezmoidata.yaml to activate msmtp.
{{- else }}
{{ range .mail.accounts -}}
{{ if .enabled -}}
{{ $appPassword := ((bitwardenSecrets .secrets.app_password_uuid).value | trim) -}}
account {{ .id }}
host smtp.gmail.com
port 587
from {{ .address | quote }}
user {{ .gmail_user | quote }}
password {{ $appPassword | quote }}

{{ end -}}
{{ end -}}
{{- if ne .mail.defaults.primary_account "" }}
account default : {{ .mail.defaults.primary_account }}
{{- end }}
{{- end }}
